<div class="container " >

  <div class="btn-group" >
    <button type="button" class="btn btn-primary">Date Monetizer</button>
    <button id="boton-date" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%# <span class="sr-only">Toggle Dropdown</span> %>
    </button>
    <div class="dropdown-menu">
     <%# # link_to "" %>
      <a class="dropdown-item" href="">Last Day</a>
      <a class="dropdown-item" href="#">Last Week</a>
      <a class="dropdown-item" href="#">Last Month</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Last Year</a>
    </div>
    
  </div>

  <div class="card-group mt-2">
    <div class="card">
      <div class="card-body border border-primary rounded  bg-dark text-white">
        <h5 id="cd1-valor" class="card-title  mb-0">65.82%</h5>
        <p class="card-text">Fill Rate</p>
        <p id="cd1-porc"class="card-text"><small class="text-muted badge badge-success">190.00%</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body border border-primary rounded bg-dark text-white">
        <h5 class="card-title mb-0">215,000</h5>
        <p class="card-text">Impressions</p>
        <p class="card-text"><small class="text-muted badge badge-warning">27.48%</small></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body border border-primary rounded bg-dark text-white">
        <h5 class="card-title  mb-0">$1.55</h5>
        <p class="card-text">eCPM</p>
        <p class="card-text"><small class="text-muted badge badge-success">29.43 %</small></p>
      </div>
    </div>
      <div class="card">
      <div class="card-body border border-primary rounded bg-dark text-white">
        <h5 class="card-title  mb-0">$334</h5>
        <p class="card-text">Estimated Revenue</p>
        <p class="card-text"><small class="text-muted badge badge-success">6.13%</small></p>
      </div>
    </div>
  </div>
  <div class="card-group mt-2">
    <div class="card">
      <div class="card-body border border-primary rounded  text-blue ">
        <h5 class="card-title mb-0">Channels</h5>
        <p class="card-text mb-0"><small>Learn more about Channels</small></p>
        <%# <p class="card-text mb-0"><small class="text-muted badge badge-success">0</small></p> %>
      </div>
    </div>
  </div>

  <div class="table-responsive-md mt-2">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Channel Name</th>
        <th scope="col">Fill Rate</th>
        <th scope="col">Impressions</th>
        <th scope="col">eCPM</th>
        <th scope="col">Estimated Revenue</th>
      </tr>
    </thead>
    <tbody>
      <% rows_vals = [] %>
      <% rows_vals = ["1", "2", "3", "4"] %>
      <% rows_vals.each do |col| %> 
      <tr>
        <td> <%= col %> </td>
        <td>76,25% <br><p class="card-text"><small class="text-muted badge badge-success">351.9%</small></p></td>
        <td>196,840<br><p class="card-text"><small class="text-muted badge badge-warning">31.83%</small></p></td>
        <td>$1.63<br><p class="card-text"><small class="text-muted badge badge-success">34.99%</small></p></td>
        <td>$321<br><p class="card-text"><small class="text-muted badge badge-success">7.97%</small></p></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>



</div>




