<div id="my-castles-background">
  <h1 id="my-castles-title-card"> My Posts </h1>
  <% counter = 0 %>
  <% @publishings.each do |publishing| %>
    <% counter += 1 %>
    <div class="d-flex justify-content-center">
      <div class="background-card">
        <%= cl_video_tag publishing.video.key, height: 100, width: 100 %>
        <h3 id="my-castles-card-castle-title"><strong><%= publishing.title %></strong> <span class="light-text">(<%= publishing.description %>)</span>
        </h3>
        <div id= "my-castles-delete-button">
          <p><%= link_to  "Delete Post", publishing_path(publishing.id), method: :delete, class: "btn btn-danger" %></p>
        </div>
        <!-- <#% castle.bookings.each do |booking| %>
          <p>It looks like you have a booking!</p>
          <p><strong>Go and check it!</strong></p>
        <#% end %> -->
      </div>
    </div>
  <% end %>
</div>
