// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$youtube:#FF0000;
$black:rgba(0,0,0,0.3);
$traslucid:rgba(0,0,0,0.2);
$purple:rgba(140, 20, 252, 1);
// linear-gradient(to left top, #793fec, #8650ed, #9361ee, #9e70ef, #a980ef, #a37fe9, #9e7fe4, #997ede, #816ed1, #685ec4, #4d4fb8, #2941ab);

