body.background-image{
  background-color:#f4f4f4;
  // background-image: linear-gradient(to left top, #793fec, #8650ed, #9361ee, #9e70ef, #a980ef, #a37fe9, #9e7fe4, #997ede, #816ed1, #685ec4, #4d4fb8, #2941ab);
  background-size: cover;
  background-position: center;
  z-index:10;
}

div.background-image-home{
  background-image: linear-gradient(to left top, #793fec, #8650ed, #9361ee, #9e70ef, #a980ef, #a37fe9, #9e7fe4, #997ede, #816ed1, #685ec4, #4d4fb8, #2941ab);
  background-size: cover;
  background-position: center;
  z-index:1;
  margin-bottom:-200px;
}


div.background-graphic-one{
  background-image: linear-gradient(to left top, #0867ec, #3460ee, #4e57ef, #644dee, #793fec);
  background-size: cover;
  background-position: center;
  z-index:1;
// background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-image-overview.jpg");
}

// .center {
//   margin: 10px 0 50px 0;
//   justify-content: space-evenly;
//   position: absolute;
//   top:30%;
//   transform: translateY(-50%);
//   left:50%;
//   transform: translateX(-60%);
// }

// .container.custom-container {
//  margin-right:20px;
//  margin-left: 30px;
// }
// .container.custom-row {
//   margin-right:20px;
//   margin-left: 30px;
//   width:100%;
//  }

.margin-container {

margin-top:20px;
margin-bottom:50px;

}

.grad {
  background-color: #F7F7F7;
  // background-image: linear-gradient(#527AE3, rgb(209, 82, 205));
}

@media (max-width: 655px) {
  .graphics-img {
    height:200px;
    width: 300px;
  }
  .text-home h2{
    font-size:20px;
  }
  .text-home p{
    font-size:10px;
  }
}

@media (max-width: 480px) {
  .graphics-img {
    height:150px;
    width: 200px;
  }
  .text-home h2{
    font-size:15px;
  }
  .text-home p{
    font-size:6px;
  }
}
