body.background-image{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("background-image-overview-v3.jpg");
  background-size: cover;
  background-position: center;
  z-index:1;
}

div.background-style{
  background-color: rgba(0,0,0,0.4);
border-radius: 32px;
margin-top:100px;
// background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-image-overview.jpg");
}