body.background-image{
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("background-image-overview-v3.jpg");
  background-size: cover;
  background-position: center;
  z-index:1;
}

div.background-style{
  background-color: rgba(0,0,0,0.2);
  border-radius: 32px;
  position: relative;
  margin-top:100px;
// background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-image-overview.jpg");
}
.parent-positioning{
  position: relative;
}

.margin-custom{
  margin-bottom:30px;
}

.top-animation{
  animation: bounce 2s ease-in-out infinite;
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top:120px;
  left:48%;
  z-index:2;
}

.msg-1{
  // animation: bounce 2s ease-in-out infinite;
  position: absolute;
  top: 100px;
  left:50%;
  transform: translateX(-50%);
}

.msg-2{
  // animation: bounce 2s ease-in-out infinite;
  position: absolute;
  top: -90px;
}

[data-metric]{
  cursor:pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
