<div class="footer fixed-bottom">
  <p class="d-flex  align-middle mt-3 text-white"><strong>Media</strong>Partner</p>

  <div class='container d-flex  align-middle mt-3'>
    <p class='text-md-right fs-6 text-secondary'><i class='fas fa-mobile-alt mr-2 text-secondary'></i> +5411 66784532</p>
    <p class='text-md-right fs-6 text-secondary'><i class='far fa-envelope ml-2 text-secondary'></i> 11000</p>
    <p class='text-md-right fs-6 text-secondary'><i class='fas fa-globe-americas ml-2 text-secondary'></i> Argentina</p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    
  </div>
</div>
