<% content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content">
    <h1>Digital foot print control at hand!</h1>
    <p class="home-p">MediaPartner brings analytics solutions to creative people</p>
    <%= link_to  "Lets Start", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
  <div>
  <%= image_tag "home.png", class: "home-image" %>
  </div>
</div>

