
 .background-image-index {
  // background-image: linear-gradient(to left top, #0867ec, #3460ee, #4e57ef, #644dee, #793fec);
  background-color:#F7F7F7;
  background-size: cover;
  background-position: center;
  z-index:1;
  // height: 100vh;
  // padding-bottom: 30px;
}


div.background-style-index {
background-color: #E1E0E2;
border-radius: 20px;
margin-top: 2px;
padding-left: -50px;
padding: 10px;
// background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url("background-image-overview.jpg");
}

.style-extra {
  background-color: transparent!important;
}
