.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-height:260px;
  width: 260px;
  border-radius: 10px;
}

.card-trip > iframe {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  position: relative;
}
.metrics-info{
  border-top: 1px solid rgb(209, 208, 208);
}
.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  margin: 5px;

  }

  .title-card-index {
    height: 60px;

  }

  .text-hover:hover {
    text-decoration: none;
    color: grey;
  }

  .card-position {
    position: relative;
    left: -70px;
  }

.card-product-main {
  overflow: hidden;
  height: 40px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 70%;
  padding: 10px;
  margin: 10px;
}

.card-product-my {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(140, 20, 252, .2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  // width: 90%;
  padding: 10px;
  margin: 10px;
}


.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  width: 120px;
}

.card-product-infos-main h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  width: 120px;
}
.card-product-infos-my h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  width: 120px;
  padding-left: 20px;
  color: black;
}

.card-product-infos-my p {
  font-size: 12px;
  font-weight: bold;
  padding-left: 20px;
  color: black;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  color: black;
}

.castle-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 3% 5%;
  border-radius: 15px;
}

.castle-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.castle-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.castle-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.castle-card .castle-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.castle-card-infos .castle-card-pricing {
  position: absolute;
  right: 40px;
  top: 24px;
  width: 40px;
}

#my-castles-title-card {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.329);
}

#my-castles-card-castle-title {
  padding: 1%;
}

#my-castles-background {
  background: linear-gradient(rgba(255,255,255, .25), rgba(255,255,255, .15)), url("background-image-overview-v2.jpg");
  width: 60%;
  height: 800px;
}

.background-card {
  margin-top: 5%;
  height: 150px;
  width: 600px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.329);
}

.card-castle-image {
  float: left;
  height: 150px;
  width: 190px;
  border-radius: 5px;
  margin-right: 1%;
}

.light-text {
  font-size: 70%;
  color: rgba(0, 0, 0, 0.651);
}


#my-castles-delete-button {
  float: right;
  position: relative;
  bottom: 60px;
  right: -10px;
}

#castle-banner {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.margin-top-negative {
  margin-top: -75px;
}

.card-my-publishings {
  width: 90%;
  padding-left: 20px;
  position: sticky;
  top: 10%;
}

@media screen and (max-width: 900px){
  .card-my-publishings{
  font-size: 12px;
  width: 85%;
 }
}

.mypublishings-card {
  width: 40%;
  padding-left: 20px;
}

.my-publishing-video-card {
 // width: 60%;
}

@media screen and (max-width: 900px){
  .my-publishing-video-card{
  font-size: 12px;
  width: 85%;
 }
}

.sticky-links {
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(140, 20, 252, .2);
  position: fixed;
  top: 200px;
  left: 70px;
}
