.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,1);
  // margin-top:200px;
   position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 5;
  color: #FD7031;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;    /* Footer height */
}

.other-icon-footer {
  color: white!important;
}

.other-icon-footer:hover {
  color: #FD7031!important;
}
