.fa-youtube-square {
  color: red;
  padding: 3px;
}

.fa-youtube-square:hover {
  color: black;
}

.fa-facebook {
  color: blue;
  padding: 3px;
}

.fa-facebook:hover {
  color: black;
}

.fa-tiktok {
  color: #23ece6;
  padding: 3px;
}

.fa-tiktok:hover {
  color: black;
}

.fa-instagram {
  color: purple;
  padding: 3px;
}

.fa-instagram:hover {
  color: black;
}

.fa-snapchat {
  color: #f7f400;
  padding: 3px;
}

.fa-snapchat:hover {
  color: black;
}

.fa-globe-asia{
  color: green;
  padding: 3px;
}

.fa-globe-asia:hover {
  color: black;
}

.fa-user-friends {
  padding-left: 4px;
}

.eye-for-my {
  padding-right: 4px!important;
}

.fa-share {
  padding-right: 4px;
}
