.fa-youtube-square {
  color: red;
}

.fa-youtube-square:hover {
  color: black;
}

.fa-facebook {
  color: blue;
}

.fa-facebook:hover {
  color: black;
}

.fa-tiktok {
  color: #23ece6;
}

.fa-tiktok:hover {
  color: black;
}

.fa-instagram {
  color: purple;
}

.fa-instagram:hover {
  color: black;
}

.fa-snapchat {
  color: #f7f400;
}

.fa-snapchat:hover {
  color: black;
}

.fa-globe-asia{
  color: green;
}

.fa-globe-asia:hover {
  color: black;
}
