.fa-youtube-square {
  font-size: 40px;
  padding: 4px;
}

.fa-youtube-square:hover {
  color: red;
}

.fa-facebook {
  font-size: 40px;
  padding: 4px;
}

.fa-facebook:hover {
  color: blue;
}

.fa-tiktok {
  font-size: 40px;
  padding: 4px;
}

.fa-tiktok:hover {
  color: purple;
}

.fa-instagram {
  font-size: 40px;
  padding: 4px;
}

.fa-instagram:hover {
  color: orange;
}

.fa-snapchat {
  font-size: 40px;
  padding: 4px;
}

.fa-snapchat:hover {
  color: yellow;
}

.fa-globe-asia{
  font-size: 40px;
  padding: 4px;
}

.fa-globe-asia:hover {
  color: green;
}
