.rounded-top-custom{
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}

.fa-check-circle{
  color: #1EDD88;
}


@media screen and (max-width: 860px) {
  .rounded-top-custom{
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  
    .rounded-top-custom{
      font-size: 8px;
    }

}