.navbar-lewagon {
  justify-content: space-between;
  background-color: black;
  height: 15vh;
  color: white;
}

.nav-fixed-black {
  background-color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:black;
}

.nav-link a {
  color: #ffffff;
}


.back-white{
  background: white;
}

.nav-fixed {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  overflow: hidden;
  z-index: 2;
}
nav {
  background: transparent;
  transition: 0.5s background-color ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle:hover {
  color: white;
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links li {
  text-transform: capitalize;
  display: block;
  transition: all 0.3s linear;
}
.btn, .form-control{
  margin-right:10px;
  margin-top:10px;
}

.show-links {
  height: 250px;
  background-color: white;
}

.btn-flat {
  color: white;
  font-weight: bold;
}

.btn-primary{
  background:#black !important;
  }
.brand-one{
  letter-spacing: 3px;
  font-size: 24px;
  color: #dd1188;
}

.brand-two{
  letter-spacing: 3px;
  font-size: 24px;
  color:#9955cc;
}

.brand-one:hover {
  color: #9955cc;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .show-links {
    background-color: transparent;
  }
  .links {
    height: auto;
    display: flex;
  }
}

.subrayado:hover {
  color: #ffd60a;
  text-decoration: none;
}

/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}


/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: black;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: green;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 32px;
  padding-right: 32px;
  color: #141816;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


/* --------------------------Custome styles ---------------------------- */

.logo-text {
  color: black;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
}

.logo-text-tagline {
  font-weight: lighter;
  color: black;
}




