.nav-fixed-black {
  // background-color: rgba(0,0,0,0.4);
  background-color: black;

}
.shadow{
  position:relative;
  box-shadow: 0 2px 4px 5px rgba(0,0,0,.8) !important;
}

// .shadow:before,
// .shadow:after {
//   content: '';
//   position:absolute;
//   z-index:-1;
//   box-shadow: 0 0 20px rgba(0,0,0,0.8);
//   top: 50%;
//   bottom:0;
//   left:10px;
//   right:10px;
//   border-radius: 100px / 10px;
// }

.nav-link {
  color:black;
}

.nav-link a {
  color: #ffffff;
}


.back-white{
  background: white;
}

.nav-fixed {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

  z-index: 2;
}
nav {
  background: transparent;
  transition: 0.5s background-color ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  color: #2941ab;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.nav-toggle:hover {
  color: white;
  transform: rotate(90deg);
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
  align-items: center;
}


.dropdown .nav-intem .dropdown-menu{
  position:absolute;
}

.links li {
  color:  black;
  text-transform: capitalize;
  display: block;
  transition: all 0.3s linear;
}
.btn, .form-control{
  margin-right:10px;
  margin-top:10px;
}

.custom-dropdown{
  height: 0;
  transition: all 0.3s linear;
  align-items: center;

}

.custom-dropdown li{
  color:  black;
  text-transform: capitalize;
  display: block;
  transition: all 0.3s linear;
}

.show-links {
  height: 300px;
  background-color: black;
}

.btn-flat {
  color: white;
  font-weight: bold;
}

.btn-primary{
  background:black !important;
  }



  .subrayado:hover {
    color: #b795ef;
    text-decoration: none;
  }

  /* User Avatar */
  .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  #svg_1 {
    color: white;

  }

  #svg_2 {
    font-size: 38px;
    color: white;
}

#svg_3 {
  color: white;
}


@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .show-links {
    background-color: transparent;
    z-index:1;
  }
  body > nav > div > ul > li.nav-item.dropdown.pl-4.py-2.show > div{
    overflow:visible;
  }
  .links {
    height: auto;
    display: flex;
  }
  .custom-dropdown{
    overflow:hidden;
  }
}


