.search-wrap{
  // position: relative;
  // left: 550px;
  width:55%;
  z-index:2;
  
}
.searchIcon {
  position:absolute;
  right:200px;
  font-size: 3em;
  background-color: transparent;
  z-index:2;
}
.searchIcon.hide{
  display:none;
}
.search {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 0%;
  font-size: 2.2em;
  display: inline-block;
  outline: none;
  cursor: text;
  visibility: hidden;
  transition: 0.8s;
  z-index:2;
}
.search.visible{
  width:80%;
  visibility: visible;
}
.clear {  
  width: 20%;  
  display: inline-block;
  margin-top:10px;
  margin-left:20px;
  opacity:0;
  font-size: 2em;
  transition:1.8s;
  z-index:2;
}
.clear.visible{
  opacity:1;
}
#clear:hover {
  cursor: pointer;
}