.table {
  border-radius: 10px;
}

.theother {

 height: 100px;
}

.helicopter-card-image {

  height: 100%;
  width: 100%;
  background-size: cover;
}

thead tr {
  border-bottom: 10px solid #793fec;
}

