.table {
  border-radius: 10px;
}

.theother {

 height: 100px;
}

.publishing-card-video {

  height: 100%;
  width: 100%;
  background-size: cover;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

