.custom-width{
  max-width:680px; 
}

.custom-width-performance{
  max-width:980px; 
}


.rounded-container{
border-radius: 10px;

}

.custom-font-size{
  font-size: 42px;
}
.custom-font-size-sub{
  font-size: 20px;
}

.slight-shadow{
  box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
}
.carousel {
  margin: 0 auto;
}


table { 
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


.text-center{
  text-align: center !important;
 
}

.top-animation-2{
  animation: bounce 2s ease-in-out infinite;
  font-size: 1.25rem;
  width: 2rem;
  height: 2rem;
  // border-radius: 50%;
  position: absolute;
  top:-0.5%;
  left:88%;
  z-index:2;
}

// tbody tr:last-child {
//  padding-bottom: 50px;
// }

@media screen and (max-width: 860px) {
  .custom-width{
    max-width:390px;
  }
  table { 
    font-size: 12px;
    padding: 17px;
}
.avatar-large {
  width: 36px;
  border-radius: 50%;
}
.table th, .table td {
  padding: 0.55rem;
}

.custom-font-size{
  font-size: 36px;
}

}

@media screen and (max-width: 700px) {
  .custom-width{
    max-width:300px;
  }
  table { 
    font-size: 8px;
    padding: 10px;
}
.avatar-large {
  width: 26px;
  border-radius: 50%;
}
.table th, .table td {
  padding: 0.45rem;
}
.custom-font-size{
  font-size: 30px;
}

}